{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}HomePage{% endblock %}

{% block content %}

<div class="container">

  <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-10">

        <!-- Blog Post -->
        {% for post in posts %}
          <div class="card mb-4" style="width: 50rem;">
            <div class="card-body">
              <h2 class="card-title">Post Title</h2>
              <p class="card-text">{{ post.text }}</p>
              <a href="{% url "feed:detail" post.id %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col" style="padding-top: 5px;">
                  Posted on {{ post.date|date:"F j, Y, g:i:a" }}
                </div>
                <div class="col" style="padding-left: 30rem; padding-top: 7px">
                  {% thumbnail post.author.profile.image "40x40" crop="center" as img %}
                    <img src="{{ img.url }}" class="img-fluid rounded">
                  {% endthumbnail %}
                  <a href="#" class="ml-2">{{ post.author.username|capfirst }}</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

  </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
